@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro:ital,wght@0,700;1,400&display=swap');

$base-color: lightgrey;
$light-color: blanchedalmond;
$dark-color-800: black;
$ff-body: 'Roboto', sans-serif;
$ff-accent: 'Source Code Pro', monospace;